/*comment*/
h1{
    
    
        
            background-color:skyblue;
            color: #fff;
        }
        #p2{background-color:sandybrown;}
        .c1 p{background-color:brown;}
    
}